body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #323335;
}

#body-login {
    margin: 8%;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #8e8e8e;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: grid;
    grid-row-gap: 15px;
}

.form h2 {
    margin: 0;
    text-align: center;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: calc(100% - 20px);
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#error {
    color: rgb(52, 42, 42);
    margin-top: 10px;
    text-align: center;
}

p {
    text-align: center;
}

/* Stili per il contenitore dell'animazione */
.loader-container {
    display: none;
    /* Inizialmente nascosto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

/* Stili per l'animazione di caricamento */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #f3f3f3;
    /* Grigio chiaro */
    border-top: 4px solid #3498db;
    /* Blu */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* Animazione di rotazione */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
